*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
/complete/build.gradle
/complete/gradlew
/complete/gradlew.bat
/complete/manifest.yml
/complete/mvnw
/complete/mvnw.cmd
/complete/pom.xml
/complete/settings.gradle
/CONTRIBUTING.adoc
/Jenkinsfile
/LICENSE.txt
/LICENSE.writing.txt
/README.adoc
